- content_for :html_head do
  %title= @title

- content_for :html_foot do
  %script{:src => "#{app_root}/js/jquery.js"}
  %script{:src => cometio_js}
  %script{:src => multi_screen_js}
  %script{:src => "#{app_root}/js/remote.js"}

%div#header
  %a{:href => app_root} home
  %h1 Remote
%div#main
  %div#ctrl
    %p
      %input#text_search{:type => :text, :value => 'ロシア'}
      %input#btn_search.btn{:type => :button, :value => 'search'}
    %p
      %input#btn_play.btn{:type => :button, :value => 'play'}
    %p
      %input#range_seek.range{:type => :range, :min => 0}
      %input#text_seek{:type => :text, :readonly => true, :size => 7}
    %p
      %input#btn_seekback.btn{:type => :button, :value => '<<'}
      %input#btn_seek.btn{:type => :button, :value => '>>'}